@font-face {
  font-family: 'billy';
  src: url('/assets/fonts/billy.eot');
  src: url('/assets/fonts/billy.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/billy.woff') format('woff'),
    url('/assets/fonts/billy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}